name: go.jtlabs.io/settings
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: golang:1.24
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      
      - name: Install dependencies
        run: go install
      
      - name: Test
        run: go test -race -v -coverprofile=coverage.out -covermode=atomic ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.out
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}